#myImage{
    position: relative;
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    max-width: 100%; 
    max-height: 100;
    z-index: 0;
}

.time-section{
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(0, 0, 0);
    z-index: 1;
    background: transparent;
    font-family: sans-serif;
    font-size: 175px;
}

body{
    margin: 0px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(14, 14, 14);
    background-image: url('https://source.unsplash.com/random/1920x1080/?light');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#greeting{
    font-size: 25px;
    background: transparent;
    position: fixed;
    top: 55%;
    left: 40%;
}

#pomoContainer {
    position: absolute; 
    top: 0;
    right: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; 
}

.pomoButtons{
    border-radius: 10px;
}

.menu-buttons{
    border-radius: 10px;
    margin-top: 10px;
}

#pomoButton{
    margin-left: 10px;
}

.pomoBox{
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
}


.buttonContainerTop{
    top: 5px;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    position: absolute;
    right: 26px;
}

.buttonContainerBottom{
    position: absolute;
    top: 125px;
    right: 85px;
}

/* #randomQuote{
    top: 300px;
} */